@page "/"

<PageTitle>Home</PageTitle>


<div class="container text-center mt-5 ">
    <header class="container-bg text-white p-4 rounded">
        <h1>Optimer Din Projektstyring</h1>
        <p>Beregn projektomkostninger, administrér medarbejdertimer og effektiviser dine forretningsprocesser med vores tilbudsplatform.</p>
    </header>

    <div class="row mt-4">
        <div class="col-md-4">
            <h1>hej1</h1>
            <p></p>
        </div>
        
        <div class="col-md-4">
            <h1>hej2</h1>
            <p></p>
        </div>

        <div class="col-md-4">
            <h1>hej3</h1>
            <p></p>
        </div>
    </div>
</div>