@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <header class="container-bg-jade text-white p-4 rounded">
        <h1 class="fs-4">Optimer Din Projektstyring</h1>
        <p class="fs-6">Beregn projektomkostninger, administrér medarbejdertimer og effektiviser dine forretningsprocesser med vores tilbudsplatform.</p>
    </header>

    <div class="d-flex flex-wrap justify-content-between gap-3 mt-5">
        <div class="col-md-3 p-4 rounded container-bg-salem">
            <h1 class="card-title fs-5 text-white mb-2">Beregn projektomkostninger</h1>
            <p class="fs-7 text-white">Få en nøjagtig estimering af dine projektudgifter. Vores værktøj hjælper dig med at planlægge budgettet effektivt.</p>
        </div>

        <div class="col-md-3 p-4 rounded container-bg-salem">
            <h1 class="card-title fs-5 text-white">Administrér medarbejdertimer</h1>
            <p class="fs-7 text-white">Hold styr på medarbejdernes arbejdstimer og sikr en mere effektiv ressourcefordeling i dine projekter.</p>
        </div>

        <div class="col-md-3 p-4 rounded container-bg-salem">
            <h1 class="card-title fs-5 text-white">Medarbejder timelogging</h1>
            <p class="fs-7 text-white">Log arbejdstimer nemt og hurtigt. Gør det lettere at beregne lønomkostninger og forbedre projektstyringen .</p>
        </div>
    </div>
</div>
