<div class="top-row ps-3 navbar navbar-color">
    <div class="container-fluid">
        <a class="navbar-logo" href="">TilbudsPlatform</a>

        <div class="navbar-links">
            <a class="nav-link" href="">Hjem</a>
            <a class="nav-link" href="/customer">Kunde</a>
            <a class="nav-link" href="/project">Projekter</a>
            <a class="nav-link" href="/create-user">Bruger</a>
            <a class="nav-link" href="/Create-worklogs">Arbejslog</a>
            <a class="nav-link" href="/log-hours">Bruger Timelog</a>
        </div>
    </div>
</div>
